---
layout: layout
---

<head>
    <link rel='stylesheet' type='text/css' href='/{{site.baseurl}}/styles.css' />
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css' />
</head>

<body>

    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- wrap each image in an <a> tag and add enable lightbox -->
    <script>
    $('img').each(function() {
        $(this).replaceWith('<a data-lightbox="lbox" href=' + this.src + '>' + '<img src=' + this.src + ' />' + '</a>');
    })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

</body>
