---
layout: layout
---

<head>
    <link rel='stylesheet' type='text/css' href='/{{site.baseurl}}/styles.css' />
</head>

<body>

    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>

    <script>
    // $('img').colorbox({rel:'group1', href='active-pcb/pic.png'});
    $('img').each(function() {
        $(this).colorbox({href:this.src})
    });
    </script>

</body>
