# Ignore list for Eagle, a PCB layout tool
*.lck

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps

Transcode?Report.txt

#exclude datasheets
datasheets/

#exclude gerbers
*.ger
*.nc
*.do
*.GBL
*.GBO
*.GBP
*.GBS
*.GML
*.GTL
*.GTO
*.GTP
*.GTS

#unsure about how this should be treated
#ITEAD wants the NC Drill as a text file instead of something like .NC
#including this in the ignore list renders any notes in text format to also be ignored
*.TXT

# MATLAB autosave file
*.asv

.DS_Store
