[submodule "boards/develop-2027/dribbler-motorboard/dribbler-board-v0.1/robocup-pcb-lib"]
	path = boards/develop-2027/dribbler-motorboard/dribbler-board-v0.1/robocup-pcb-lib
	url = https://github.com/RoboJackets/robocup-pcb-lib.git
