[submodule "boards/develop-2027/drive-motorboard/development/breakout-AS5047P/robocup-pcb-lib"]
	path = boards/develop-2027/drive-motorboard/development/breakout-AS5047P/robocup-pcb-lib
	url = git@github.com:RoboJackets/robocup-pcb-lib.git
[submodule "boards/develop-2027/drive-motorboard/development/integration-test/robocup-pcb-lib"]
	path = boards/develop-2027/drive-motorboard/development/integration-test/robocup-pcb-lib
	url = git@github.com:RoboJackets/robocup-pcb-lib.git
