[submodule "lib/SparkFun-Eagle-Libraries"]
	path = lib/SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries
[submodule "lib/Adafruit-Eagle-Library"]
	path = lib/Adafruit-Eagle-Library
	url = https://github.com/adafruit/Adafruit-Eagle-Library
