NET "led0" LOC="P124";
NET "led1" LOC="P125";

NET "tx_mcu" LOC="P56";
NET "rx_mcu" LOC="P54";
NET "tx_radio" LOC="P91";

NET "rx_radio" LOC="P84";
NET "rx_pdn" LOC="P85";
NET "rx_ssdata" LOC="P86";
NET "rx_ssclk" LOC="P87";

NET "rx_radio" PULLUP;
NET "rx_pdn" PULLUP;
NET "rx_ssdata" PULLUP;
NET "rx_ssclk" PULLUP;

NET "tx_pdn" LOC="P92";
NET "tx_ssdata" LOC="P93";
NET "tx_ssclk" LOC="P94";

NET "ale" LOC="P48";
NET "read" LOC="P59";
NET "write" LOC="P66";
NET "data(0)" LOC="P52";
NET "data(1)" LOC="P51";
NET "data(2)" LOC="P50";
NET "data(3)" LOC="P35";
NET "data(4)" LOC="P34";
NET "data(5)" LOC="P33";
NET "data(6)" LOC="P32";
NET "data(7)" LOC="P53";

NET "ale" PULLUP;
NET "read" PULLUP;
NET "write" PULLUP;
NET "data(7)" PULLUP;
NET "data(6)" PULLUP;
NET "data(5)" PULLUP;
NET "data(4)" PULLUP;
NET "data(3)" PULLUP;
NET "data(2)" PULLUP;
NET "data(1)" PULLUP;
NET "data(0)" PULLUP;

# Hall effect sensor vectors are [2:0] which maps to {a, b, c}.
NET "M1HALL_A" LOC="P12";
NET "M1HALL_B" LOC="P10";
NET "M1HALL_C" LOC="P6";

NET "M1HALL_A" PULLUP;
NET "M1HALL_B" PULLUP;
NET "M1HALL_C" PULLUP;


NET "M2HALL_A" LOC="P140";
NET "M2HALL_B" LOC="P141";
NET "M2HALL_C" LOC="P142";

NET "M2HALL_A" PULLUP;
NET "M2HALL_B" PULLUP;
NET "M2HALL_C" PULLUP;


NET "M3HALL_A" LOC="P114";
NET "M3HALL_B" LOC="P95";
NET "M3HALL_C" LOC="P111";

NET "M3HALL_A" PULLUP;
NET "M3HALL_B" PULLUP;
NET "M3HALL_C" PULLUP;


NET "M4HALL_A" LOC="P78";
NET "M4HALL_B" LOC="P74";
NET "M4HALL_C" LOC="P69";

NET "M4HALL_A" PULLUP;
NET "M4HALL_B" PULLUP;
NET "M4HALL_C" PULLUP;


NET "M5HALL_A" LOC="P126";
NET "M5HALL_B" LOC="P128";
NET "M5HALL_C" LOC="P129";

NET "M5HALL_A" PULLUP;
NET "M5HALL_B" PULLUP;
NET "M5HALL_C" PULLUP;

#  Motor output vectors are [5:0] which map to
#      {high_a, low_a, high_b, low_b, high_c, low_c}.
#       MxA_H   MxA_L  MxB_H   MxB_L  MxC_H   MxC_L
NET "M1A_H" LOC="P22";
NET "M1A_L" LOC="P23";
NET "M1B_H" LOC="P20";
NET "M1B_L" LOC="P21";
NET "M1C_H" LOC="P25";
NET "M1C_L" LOC="P26";

NET "M2A_H" LOC="P2";
NET "M2A_L" LOC="P3";
NET "M2B_H" LOC="P4";
NET "M2B_L" LOC="P5";
NET "M2C_H" LOC="P7";
NET "M2C_L" LOC="P8";

NET "M3A_H" LOC="P98";
NET "M3A_L" LOC="P97";
NET "M3B_H" LOC="P104";
NET "M3B_L" LOC="P103";
NET "M3C_H" LOC="P106";
NET "M3C_L" LOC="P105";

NET "M4A_H" LOC="P83";
NET "M4A_L" LOC="P82";
NET "M4B_H" LOC="P81";
NET "M4B_L" LOC="P77";
NET "M4C_H" LOC="P76";
NET "M4C_L" LOC="P75";

NET "M5A_H" LOC="P130";
NET "M5A_L" LOC="P131";
NET "M5B_H" LOC="P132";
NET "M5B_L" LOC="P134";
NET "M5C_H" LOC="P135";
NET "M5C_L" LOC="P139";

NET "button" LOC="P24";
NET "button" PULLUP;

NET "switch(0)" LOC="P123";
NET "switch(1)" LOC="P122";
NET "switch(2)" LOC="P119";
NET "switch(3)" LOC="P120";

NET "switch(0)" PULLUP;
NET "switch(1)" PULLUP;
NET "switch(2)" PULLUP;
NET "switch(3)" PULLUP;

NET "ant_a" LOC="P88";
NET "ant_b" LOC="P96";

NET "charge" LOC="P14";
NET "charge_done" LOC="P15";
NET "chip" LOC="P16";
NET "kick" LOC="P17";

NET "tx_cts" LOC="P89";

# Old ball sense connector
NET "BL0" LOC="P117";
NET "BL1" LOC="P116";
NET "BL2" LOC="P113";
NET "BL3" LOC="P112";

NET "BL0" PULLUP;
NET "BL1" PULLUP;
NET "BL2" PULLUP;
NET "BL3" PULLUP;

NET "clk" LOC="P58";
NET "clk" TNM_NET="clk";
TIMESPEC "TS_clk"=PERIOD "clk" 50 ns HIGH 50 %;
